
// font
$fontRaleway: 'Raleway', 'sans-serif';
$fontOpenSans: 'Open Sans', sans-serif;
$fontBold: 700;
$fontSemiBold: 600;
$fontNormal: 400;

// Color
$colorRed: #EC7979;
$colorDarkRed: #AB4949;
$colorBlack: #000000;
$colorBlackText: #333333;
$colorInputBlack: #212529;
$colorGradient: rgba(0, 0, 0, 0.5);
$colorWhite: #fff;
$colorDarkWhite: #F8EFEF;
$colorWhitePrice: #f5f5f5;
$colorGrey: #BDBDBD;
$colorDarkGrey: #86878B;
$colorBrand: #CCCCCC;


// border
$borderBtn: 2px solid $colorWhite;
$borderInp: 1px solid #BDBDBD;
$borderTab: 1px solid #C6CBCD;


// margin 
$marginCenter: 0 auto;

// container 
$largeContainer: 1200px;