@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&family=Raleway:wght@400;500&display=swap");
:root {
  --large-container: 1200px;
}

.footer__list, .footer, .dots-nav, .about-us__skill-icon--wrapper, .social-media__list-item, .social-media__list, .menu__list, .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.price__list-item, .menu__list-item, .footer__list-link, .social-media__list-link, .button {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.dots-nav__btn:hover, .price__list-item:hover, .tabs__nav-btn:hover, .menu__list-item:hover, .footer__list-link:hover, .social-media__list-link:hover, .button:hover {
  cursor: pointer;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  font-family: "Raleway", "sans-serif";
  font-weight: 400;
  font-size: 1.125rem;
}
body.lock {
  overflow: hidden;
}

.content-box {
  padding: 0 15px;
  margin: 0 auto;
  width: var(--large-container);
}
@media screen and (max-width: 1199px) {
  .content-box {
    width: 984px;
  }
}
@media screen and (max-width: 1023px) {
  .content-box {
    width: 100%;
    padding: 0 20px;
  }
}

.button {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 1.125rem;
  color: #fff;
}
.button--banner {
  border: 2px solid #fff;
  background: rgba(0, 0, 0, 0);
  padding: 15px 0px;
  width: 270px;
}
.button--banner:hover {
  color: #EC7979;
  border-color: #EC7979;
}
.button--banner:active {
  background-color: #AB4949;
  color: #fff;
  border-color: #AB4949;
}
.button--sign {
  font-size: 0.9375rem;
  background: #EC7979;
  border-radius: 0px 0px 10px 10px;
  width: 470px;
  padding: 20px 0;
  border: 0;
}
@media screen and (max-width: 1199px) {
  .button--sign {
    width: 400px;
  }
}
@media screen and (max-width: 1023px) {
  .button--sign {
    width: 300px;
  }
}
.button--sign:hover {
  background-color: #AB4949;
}
.button--sign:active {
  background-color: #EC7979;
}
.button--tab {
  background: #EC7979;
  width: 270px;
  padding: 15px 0;
  border: 0;
}
@media screen and (max-width: 1023px) {
  .button--tab {
    width: 240px;
  }
}
.button--tab:hover {
  background-color: #AB4949;
}
.button--tab:active {
  background-color: #EC7979;
  -webkit-box-shadow: inset 0px 0px 10px #AB4949;
          box-shadow: inset 0px 0px 10px #AB4949;
}
.button--width {
  width: 370px;
}
@media screen and (max-width: 1199px) {
  .button--width {
    width: 300px;
  }
}
@media screen and (max-width: 1023px) {
  .button--width {
    width: 280px;
  }
}
.button--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.button--contact {
  padding: 15px 0;
  background: #EC7979;
  border: 0;
}
.button--contact:hover {
  background-color: #AB4949;
}
.button--contact:active {
  background-color: #EC7979;
}

.separator {
  width: 170px;
  margin: 55px auto 40px;
  height: 1px;
}
@media screen and (max-width: 1199px) {
  .separator {
    width: 140px;
    margin: 40px auto 30px;
  }
}
@media screen and (max-width: 1023px) {
  .separator {
    width: 135px;
    margin: 40px auto;
  }
}
.separator--white {
  background-color: #fff;
}
.separator--red {
  background-color: #EC7979;
}
.separator--margin {
  margin-left: 0;
  margin-right: 0;
}

.input {
  border: 0;
  border-bottom: 1px solid #BDBDBD;
  padding: 10px;
  padding-left: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  color: #BDBDBD;
}
.input::-webkit-input-placeholder {
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
  color: #BDBDBD;
}
.input::-moz-placeholder {
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
  color: #BDBDBD;
}
.input:focus {
  background-color: #fff;
  border-color: #BDBDBD;
  outline: 0;
}

.text-area {
  overflow: auto;
  resize: none;
  border: 0;
  border-bottom: 1px solid #BDBDBD;
  width: 550px;
  height: 100%;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  color: #BDBDBD;
}
@media screen and (max-width: 1199px) {
  .text-area {
    width: 480px;
  }
}
@media screen and (max-width: 1023px) {
  .text-area {
    width: 280px;
    height: 180px;
  }
}
.text-area:focus {
  background-color: #fff;
  border-color: #BDBDBD;
  outline: 0;
}
.text-area::-webkit-input-placeholder {
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
  color: #BDBDBD;
}
.text-area::-moz-placeholder {
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
  color: #BDBDBD;
}

.title {
  font-family: "Raleway", "sans-serif";
  font-weight: 400;
  font-size: 2.25rem;
  text-transform: uppercase;
  text-align: center;
}
@media screen and (max-width: 1199px) {
  .title {
    font-size: 1.5rem;
  }
}
.title--white {
  color: #fff;
}

.icon-facebook.social-media__list-link:hover {
  color: #4267b3;
}
.icon-twitter.social-media__list-link:hover {
  color: #55acee;
}
.icon-linkedin.social-media__list-link:hover {
  color: #0a66c2;
}
.icon-pinterest.social-media__list-link:hover {
  color: #e60023;
}
.icon-instagram.social-media__list-link:hover {
  color: #c13584;
}
.icon-github.social-media__list-link:hover {
  color: #211f1f;
}
.icon-rss.social-media__list-link:hover {
  color: #ee802f;
}
.icon-bars {
  color: rgb(215, 211, 211);
  font-size: 1.5rem;
}
.icon-bars:active {
  color: #fff;
}
.icon-keybord {
  font-size: 2.5rem;
}
.icon-bolt {
  font-size: 3.75rem;
}
.icon-bulb {
  font-size: 3.75rem;
}
.icon-xmark {
  font-size: 1.5rem;
  color: rgb(215, 211, 211);
}
.icon-xmark:active {
  color: #fff;
}

.social-media__list-link {
  font-size: 3.125rem;
  color: #CCCCCC;
}
@media screen and (max-width: 1199px) {
  .social-media__list-link {
    font-size: 2.8125rem;
  }
}
@media screen and (max-width: 1023px) {
  .social-media__list-link {
    font-size: 1.75rem;
  }
}
.footer__list-link {
  font-size: 3.125rem;
  color: #CCCCCC;
}
@media screen and (max-width: 1199px) {
  .footer__list-link {
    font-size: 2.8125rem;
  }
}
@media screen and (max-width: 1023px) {
  .footer__list-link {
    font-size: 1.625rem;
  }
}
.footer__list-link:hover {
  color: #fff;
}

.about-us__skill-icon {
  border-radius: 100%;
  border: 1px solid #EC7979;
  color: #EC7979;
  padding: 25px;
}

.header {
  position: absolute;
  width: 100%;
  background-color: #000000;
}
.header .content-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 1023px) {
  .header .content-box {
    padding: 20px;
  }
}
.header__logo {
  max-width: 55px;
  max-height: 35px;
}
@media screen and (max-width: 1023px) {
  .header__logo {
    max-width: 40px;
    max-height: 25px;
    position: relative;
    z-index: 3;
  }
}
.header__logo-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-burger {
  display: none;
  outline: none;
  background: transparent;
  border: none;
  position: relative;
  z-index: 2;
  top: 0;
  left: 35%;
}
@media screen and (max-width: 1023px) {
  .menu-burger {
    display: block;
  }
}
@media screen and (max-width: 1023px) {
  .menu__list {
    display: block;
    text-align: center;
    position: fixed;
    width: 100%;
    height: 100%;
    padding: 100px 0 0 0;
    top: 100%;
    left: 0;
    background-color: black;
    z-index: 1;
    overflow: auto;
  }
  .menu__list.active {
    top: 0;
  }
}
.menu__list-item {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 0.875rem;
  padding: 30px;
}
.menu__list-item:hover {
  background-color: #EC7979;
}
.menu__list-item:active {
  background-color: #AB4949;
}
.menu__list-link {
  text-transform: uppercase;
}
.menu__list-link:link {
  color: #fff;
}
.menu__list-link:visited {
  color: #fff;
}

.banner {
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5))), url("../img/background/backImg.jpg") center;
  background: linear-gradient(rgba(0, 0, 0, 0.5)), url("../img/background/backImg.jpg") center;
  background-size: cover;
}
@media screen and (max-width: 1199px) {
  .banner {
    height: 100%;
  }
}
@media screen and (max-width: 1023px) {
  .banner {
    height: 100%;
  }
}
.banner .content-box {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
@media screen and (max-width: 1199px) {
  .banner .content-box {
    padding: 150px 15px 75px;
  }
}
@media screen and (max-width: 1023px) {
  .banner .content-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 100px 15px;
  }
}
.banner__box-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
}
@media screen and (max-width: 1023px) {
  .banner__box-title {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.banner__logo {
  max-width: 105px;
  max-height: 55px;
}
@media screen and (max-width: 1199px) {
  .banner__logo {
    max-width: 65px;
    max-height: 40px;
  }
}
@media screen and (max-width: 1023px) {
  .banner__logo {
    display: none;
  }
}
.banner__logo--wrapper {
  margin-bottom: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 1023px) {
  .banner__logo--wrapper {
    margin: 0;
  }
}
.banner__title {
  font-weight: 500;
  font-size: 3rem;
  text-transform: uppercase;
}
@media screen and (max-width: 1199px) {
  .banner__title {
    font-size: 2.25rem;
  }
}
@media screen and (max-width: 1023px) {
  .banner__title {
    text-align: center;
  }
}
.banner__subtitle {
  font-weight: 400;
  font-size: 1.125rem;
  padding-right: 300px;
  margin-bottom: 30px;
}
@media screen and (max-width: 1199px) {
  .banner__subtitle {
    font-size: 0.875rem;
    padding-right: 300px;
  }
}
@media screen and (max-width: 1023px) {
  .banner__subtitle {
    padding: 0;
    text-align: center;
  }
}
.banner__box-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  border-radius: 10px;
}
.banner__form-title {
  margin-bottom: 75px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 30px 15px 0 15px;
}
@media screen and (max-width: 1199px) {
  .banner__form-title {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 1023px) {
  .banner__form-title {
    font-size: 0.875rem;
    margin-bottom: 35px;
  }
}
.banner__form-title span {
  color: #EC7979;
}
.banner__form-wrapper {
  padding: 0 50px;
}
@media screen and (max-width: 1023px) {
  .banner__form-wrapper {
    padding: 0 20px;
  }
}
.banner__form-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 35px;
}
.banner__form-input:last-child {
  margin-bottom: 75px;
}
@media screen and (max-width: 1023px) {
  .banner__form-input:last-child {
    margin-bottom: 50px;
  }
}

.social-media {
  background-color: #F8EFEF;
}
.social-media .content-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 15px;
}
@media screen and (max-width: 1023px) {
  .social-media .content-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 30px 15px;
  }
}
.social-media__box-title {
  padding-top: 10px;
}
@media screen and (max-width: 1023px) {
  .social-media__box-title {
    text-align: center;
  }
}
.social-media__title {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  color: #333333;
  margin-bottom: 25px;
}
@media screen and (max-width: 1023px) {
  .social-media__title {
    font-size: 1.125rem;
  }
}
.social-media__subtitle {
  font-weight: 400;
  font-size: 1.125rem;
  color: #86878B;
}
@media screen and (max-width: 1023px) {
  .social-media__subtitle {
    font-size: 0.875rem;
    margin-bottom: 30px;
  }
}
.social-media__list-item {
  margin-right: 30px;
}
@media screen and (max-width: 1023px) {
  .social-media__list-item {
    margin-right: 20px;
  }
}
.social-media__list-item:last-child {
  margin-right: 0;
}

.tabs {
  padding: 100px 0 50px;
}
@media screen and (max-width: 1023px) {
  .tabs {
    padding: 50px 0;
  }
}
.tabs__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.tabs__nav-btn {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  text-transform: uppercase;
  padding: 10px 70px;
  border: 0;
  background-color: #fff;
}
@media screen and (max-width: 1023px) {
  .tabs__nav-btn {
    padding: 10px 30px;
    font-size: 0.875rem;
  }
}
.tabs__nav-btn:hover {
  background-color: #ddd;
}
.tabs__nav-btn--active {
  border: 1px solid #C6CBCD;
  border-bottom: 0;
  position: relative;
  top: 1px;
}
.tabs__box-wrap {
  border: 1px solid #C6CBCD;
  display: none;
}
.tabs__box-wrap--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.tabs__inner-box {
  padding: 50px 50px 0 100px;
}
@media screen and (max-width: 1199px) {
  .tabs__inner-box {
    padding: 35px 35px 0 85px;
  }
}
@media screen and (max-width: 1023px) {
  .tabs__inner-box {
    padding: 30px 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.tabs__title {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 1.875rem;
  margin-bottom: 40px;
}
@media screen and (max-width: 1199px) {
  .tabs__title {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 1023px) {
  .tabs__title {
    margin-bottom: 60px;
    font-size: 1.125rem;
    text-align: center;
  }
}
.tabs__text {
  margin-bottom: 30px;
}
@media screen and (max-width: 1199px) {
  .tabs__text {
    font-size: 0.875rem;
  }
}
@media screen and (max-width: 1023px) {
  .tabs__text {
    font-size: 0.8125rem;
    text-align: center;
  }
}
.tabs__image {
  max-width: 470px;
}
@media screen and (max-width: 1199px) {
  .tabs__image {
    max-width: 400px;
  }
}
@media screen and (max-width: 1023px) {
  .tabs__image {
    display: none;
  }
}

.about-us {
  padding: 50px 0;
}
@media screen and (max-width: 1023px) {
  .about-us {
    padding: 30px 0;
  }
}
.about-us__subtitle {
  color: #86878B;
  text-align: center;
  margin-bottom: 110px;
}
@media screen and (max-width: 1023px) {
  .about-us__subtitle {
    font-size: 0.8125rem;
    margin-bottom: 80px;
  }
}
.about-us__skill-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (max-width: 1023px) {
  .about-us__skill-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.about-us__skill-item {
  max-width: 370px;
}
@media screen and (max-width: 1199px) {
  .about-us__skill-item {
    max-width: 315px;
  }
}
@media screen and (max-width: 1023px) {
  .about-us__skill-item {
    margin-bottom: 40px;
  }
  .about-us__skill-item:last-child {
    margin-bottom: 0;
  }
}
.about-us__skill-icon--wrapper {
  margin-bottom: 30px;
}
.about-us__skill-title {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 40px;
}
@media screen and (max-width: 1199px) {
  .about-us__skill-title {
    font-size: 1.125rem;
  }
}
.about-us__skill-text {
  text-align: center;
  padding: 0 15px;
}
@media screen and (max-width: 1199px) {
  .about-us__skill-text {
    font-size: 0.875rem;
  }
}

.price {
  padding: 50px 0;
  background-color: #f5f5f5;
}
@media screen and (max-width: 1023px) {
  .price {
    padding: 30px 0;
  }
}
.price__subtitle {
  color: #86878B;
  text-align: center;
  margin-bottom: 80px;
}
@media screen and (max-width: 1199px) {
  .price__subtitle {
    font-size: 0.875rem;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 1023px) {
  .price__subtitle {
    margin-bottom: 20px;
  }
}
.price__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (max-width: 1023px) {
  .price__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.price__list-item {
  width: 370px;
}
@media screen and (max-width: 1199px) {
  .price__list-item {
    width: 300px;
  }
}
@media screen and (max-width: 1023px) {
  .price__list-item {
    margin-right: 10px;
    margin-bottom: 25px;
  }
  .price__list-item:last-child {
    margin-bottom: 0;
  }
}
.price__list-item:hover {
  -webkit-filter: drop-shadow(0px 4px 10px rgba(51, 51, 51, 0.2));
          filter: drop-shadow(0px 4px 10px rgba(51, 51, 51, 0.2));
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}
.price__list-item > p {
  text-align: center;
  padding: 15px 0;
  border: 1px solid #f5f5f5;
  background-color: #333333;
  color: #fff;
}
@media screen and (max-width: 1199px) {
  .price__list-item > p {
    font-size: 0.875rem;
  }
}
.price__list-item .price__name-sub {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
}
@media screen and (max-width: 1199px) {
  .price__list-item .price__name-sub {
    font-size: 1.125rem;
  }
}
.price__list-item .price__cost {
  font-weight: 700;
  font-size: 2.25rem;
}
@media screen and (max-width: 1199px) {
  .price__list-item .price__cost {
    font-size: 1.5rem;
  }
}
.price__list-item .price__duration {
  color: rgba(255, 255, 255, 0.5);
}
.price__list-item .price__desc {
  background-color: #fff;
  color: #86878B;
  text-transform: capitalize;
}

.reviews {
  padding: 50px 0;
}
@media screen and (max-width: 1023px) {
  .reviews {
    padding: 30px 0;
  }
}
.reviews__subtitle {
  color: #86878B;
  text-align: center;
  margin-bottom: 85px;
}
@media screen and (max-width: 1199px) {
  .reviews__subtitle {
    font-size: 0.875rem;
  }
}
@media screen and (max-width: 1023px) {
  .reviews__subtitle {
    margin-bottom: 25px;
  }
}
.reviews__comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
@media screen and (max-width: 1023px) {
  .reviews__comments {
    margin-bottom: 35px;
  }
}
@media screen and (max-width: 1023px) {
  .reviews__comment-block {
    display: none;
  }
}
.reviews__comment-block--active {
  display: block;
  margin: 0 auto;
}
.reviews__user-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 65px;
}
.reviews__comment-text--wrapper {
  background-color: #E2E2E2;
  border-radius: 10px;
  text-align: center;
  padding: 40px 20px;
  text-overflow: ellipsis;
  word-break: break-word;
  max-width: 370px;
  position: relative;
}
.reviews__comment-text--wrapper:after {
  content: "";
  position: absolute;
  left: 20%;
  bottom: -4%;
  width: 15px;
  height: 15px;
  background: #E2E2E2;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
@media screen and (max-width: 1199px) {
  .reviews__comment-text--wrapper {
    font-size: 0.875rem;
  }
}
.reviews__user-avatar {
  max-width: 70px;
  margin-right: 30px;
}
@media screen and (max-width: 1199px) {
  .reviews__user-avatar {
    max-width: 63px;
  }
}
@media screen and (max-width: 1023px) {
  .reviews__user-avatar {
    max-width: 55px;
  }
}
.reviews__user-name {
  margin-bottom: 30px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
}
@media screen and (max-width: 1199px) {
  .reviews__user-name {
    font-size: 1.125rem;
  }
}
@media screen and (max-width: 1199px) {
  .reviews__user-group {
    font-size: 0.875rem;
  }
}

.dots-nav__btn {
  display: none;
  outline: none;
  border: 0;
  background-color: transparent;
  margin-right: 70px;
  padding: 0;
  border-radius: 50%;
  color: #86878B;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.dots-nav__btn--active {
  background-color: #86878B;
}
.dots-nav__btn:last-child {
  margin: 0;
}
@media screen and (max-width: 1023px) {
  .dots-nav__btn {
    display: block;
  }
}

.banner-second {
  padding: 100px 0 50px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5))), url("../img/background/bannerSec.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.5)), url("../img/background/bannerSec.jpg");
  background-size: cover;
}
@media screen and (max-width: 1023px) {
  .banner-second {
    padding: 50px 0;
  }
}
.banner-second__subtitle {
  color: #fff;
  margin-bottom: 75px;
  text-align: center;
}
@media screen and (max-width: 1199px) {
  .banner-second__subtitle {
    font-size: 0.875rem;
  }
}

.contact {
  padding: 50px 0;
}
@media screen and (max-width: 1199px) {
  .contact .content-box {
    padding: 0;
  }
}
.contact__subtitle {
  color: #86878B;
  margin-bottom: 90px;
  text-align: center;
}
@media screen and (max-width: 1199px) {
  .contact__subtitle {
    font-size: 0.875rem;
    margin-bottom: 70px;
  }
}
@media screen and (max-width: 1023px) {
  .contact__subtitle {
    margin-bottom: 65px;
  }
}
.contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}
.contact__form--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}
@media screen and (max-width: 1199px) {
  .contact__form--wrapper {
    gap: 20px;
  }
}
@media screen and (max-width: 1023px) {
  .contact__form--wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.contact__form-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 50px;
  width: 550px;
}
@media screen and (max-width: 1199px) {
  .contact__form-input {
    width: 480px;
  }
}
@media screen and (max-width: 1023px) {
  .contact__form-input {
    width: 280px;
  }
}
.contact__form__comment--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer {
  background-color: #000000;
  padding: 45px 0;
}
.footer__list {
  margin-bottom: 30px;
}
.footer__list-item {
  margin-right: 25px;
}
.footer__list-item:last-child {
  margin: 0;
}
.footer__list-icon {
  max-width: 55px;
  max-height: 55px;
}
.footer__copy {
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
}
@media screen and (max-width: 1199px) {
  .footer__copy {
    font-size: 0.875rem;
  }
}/*# sourceMappingURL=main.css.map */