@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&family=Raleway:wght@400;500&display=swap');

* {
    box-sizing:border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 1.125rem;
    margin: 0px auto;
    width: 100%;
}
.content-box {
    padding: 0 15px;
    margin: 0 auto;
    width: 1200px;
}
.header {
    position: absolute;
    width: 100%;
    background-color: #000000;
}
.header .content-box {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav-list {
    list-style-type:none;
    display:flex;
    justify-content: center;
    align-items:center;
    margin: 0px;
    padding: 0px;    
}
.header__list__item {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 0.875rem;
    width: 113px;
    height: 75px;
}
.header__list-link {
    width: 113px;
    height: 75px;
    display:flex;
    justify-content: center;
    align-items:center;
    text-decoration: none;
    transition: .4s background-color linear ;
    
}

/* еще не посещенная ссылка */
.header__list-link:link {
    color:#fff;
}
/* посещенная ссылка */
.header__list-link:visited {
    color: #fff;
}
/* при наведении */
.header__list-link:hover {
    background-color: #EC7979;
    text-transform: uppercase;
    font-weight: 700; 
    font-size: 0.81rem;   
}
/* при нажатии */
.header__list-link:active {
    background-color: #AB4949;
    text-transform: uppercase;
    font-weight: 700; 
    font-size: 0.81rem;   
}

/* секция banner */

.banner {
    background: url("./img/background/backImg.jpg") center;
    background-size: cover;
    box-shadow:0 0 0 1510px rgba(0, 0, 0, 0.5) inset;
    /* height: 1026px; */
}
.banner .content-box {
    height: 1026px;
    width: 1170px;
    display:flex;
    align-items: center;
    gap: 30px;
}
.banner__box-title {
    display:flex;
    flex-direction: column;
    width: 670px;
    color: #fff;
}

.banner__logo {
    width: 270px;
    height: 100px;
}

.banner__main-title {
    font-weight: 500;
    font-size: 3rem;
    margin:0px;
}

.banner__separator {
    width: 170px;
    height: 0px;
    margin: 55px 0px 42px 0px;
}
.banner__separator hr {
    border: 1px solid #FFFFFF;
}

.banner__subtitle {
    font-size: 1.125rem;
    font-weight: 400;
    margin:0px;
    width: 270px;
}

.banner__button-download {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 1.125rem;
    color: #fff;
    background: rgba(0, 0, 0, 0);
    border: 2px solid #fff;
    width: 270px;
    height: 58px;
    padding: 0px;
    margin-top: 42px;
    transition: .3s background-color ease-in-out, .3s color ease-in-out, .3s border-color ease-in-out;
}
.banner__button-download:hover {
    color: #EC7979;
    border-color: #EC7979;
    cursor: pointer;
}
.banner__button-download:active {
    background-color: #AB4949;
    color: #fff;
    border-color: #AB4949; 
    cursor: pointer;
}

.banner__box-form {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 470px;
    height: 450px;
    background-color: #fff;
    border-radius: 10px;
}

.banner__title-form {
    margin: 0px;
    margin-top: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    text-transform: uppercase;
}
.banner__title-form strong {
    color: #EC7979;
}

.banner__label {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    color:#BDBDBD;
}

.banner__input {
    width: 370px;
    border: 0px;
    border-bottom: 1px solid #BDBDBD;
}


.banner__input:focus {
    color: #212529;
    background-color: #fff;
    border-color: #bdbdbd;
    outline: 0;
}

.banner__button-sign {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 0.9375rem;
    color: #fff;
    padding: 15px 89px;
    background: #EC7979;
    border:0px;
    border-radius: 0px 0px 10px 10px;
    width: 470px;
    height: 60px;
    transition: .3s background-color ease-in-out;
}
.banner__button-sign:hover {
    background-color: #AB4949;
    cursor: pointer;
}
.banner__button-sign:active {
    background-color: #EC7979;
}

/* секция social media */
.social-media {
    background-color: #F8EFEF;
    height: 140px;
    margin-bottom: 100px;
}
.social-media .content-box {
    display:flex;
    justify-content: center;
    align-items: center;
}

.social-media__box-title {
    display: grid;
    align-content: space-between;
    width: 470px;
    height: 100px;
    
}

.social-media__main-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    color: #333333;
    margin: 0px;
}
.social-media__subtitle {
    font-weight: 400;
    font-size: 1.125rem;
    color: #86878B;
    margin:0px;
}

.social-media__list {
    padding: 0px;
    margin:0px;
    display:flex;
    justify-content: center;
    align-items:center;
    list-style-type: none;
}   
.social-media__list-item {
    margin-right: 30px;
    display:flex;
    justify-content: center;
    align-items:center;
    width:60px;
    height: 60px;
    margin-right: 30px;
}
.social-media__icon {
    padding: 0px;
}

/* секция tabs */

.tabs {
    margin-bottom: 50px;
}
/* .tabs__list {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;
}
.tabs__list-item {
    text-align: center;
    width: 200px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    padding: 10px 0px;
}
.tabs__list-item:first-child {
    border: 1px solid #C6CBCD;
    border-bottom: 0px;
}
.tabs__list-item:nth-child(1n+2) {
    /* border: 1px solid #C6CBCD; */
    /* border-bottom: 1px solid #C6CBCD;
} */
/* .tabs__list-item:last-child {
    width: 565px; 
} */
.tabs__input-btn {
    display:none;
}
.tabs__box-wrap {
    border: 1px solid #C6CBCD;
    display: none;
    height: 501px;
}
.tabs__input-btn--first:checked~.tabs__box-wrap--first,
.tabs__input-btn--second:checked~.tabs__box-wrap--second,
.tabs__input-btn--third:checked~.tabs__box-wrap--third {
    display:flex;
    justify-content:space-between;
}

.tabs__btn-name {
    display: inline-block;
    width: 200px;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    /* background-color: #f5f5f5; */
    border: 1px solid #C6CBCD;
    padding: 2px 8px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    /* line-height: 1.5; */
    transition: color .15s ease-in-out;
    /* background-color .15s ease-in-out; */
    cursor:pointer;
    position:relative;
    top:1px;
}

.tabs__btn-name:not(:first-of-type) {
    border-left: none;
}
.tabs__input-btn[type="radio"]:checked+.tabs__btn-name {
    border-bottom:1px solid #C6CBCD;
}

.tabs__inner-box{
    display:flex;
    flex-direction: column;
    margin: 0 auto;
}
.tabs__main-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 1.875rem;
    width: 570px;
    height: 124px;
    text-align: center;
    display:flex;
    align-items: center;
    margin: 0px;
}
.tabs__text {
    margin:0px;
    width: 570px;
    height: 210px;  
}

.tabs__button {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 1.125rem;
    color: #fff;
    background: #EC7979;
    width: 270px;
    height: 58px;
    padding: 0px;
    border: 0px;
    margin-top: 27px; 
    transition: .3s background-color ease-in-out, .3s box-shadow ease-in-out;
    cursor: pointer;
}
.tabs__button:hover {
    background-color: #AB4949;
}
.tabs__button:active {
    background-color: #EC7979;
    box-shadow: inset 0px 0px 10px #AB4949; 
}

/* секция about */

.about-us {
    /* width: 1170px; */
    margin-bottom: 58px;
}
.about-us__main-title {
    font-size: 2.25rem;
    font-weight: 400;
    margin: 0px;
    text-align: center;
    display:flex;
    align-items:center;
    justify-content: center;
    height: 150px;
}
.separator {
    width: 170px;
    margin: 0 auto;
    height: 0px;
}

.separator hr {
    border: 1px solid #EC7979 ;
    margin:0px;
}

.about-us__subtitle {
    font-size: 1.125rem;
    color: #86878B;
    margin: 40px 0px 0px;
    text-align: center;
}

.about-us__skill-list {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    margin: 60px 0px 0px;
    padding: 0px;
}

.about-us__skill-item {
    width: 370px;
    /* margin: 0px 15px; */
}

.about-us__skill-wrapper {
    display: flex;
    justify-content: center;
    /* margin-bottom: 40px; */
}
.about-us__skill-wrapper img {
    padding:5px;
    border: 2px solid #EC7979;
    border-radius: 90px;
    width: 66px;
    height: 66px;
    margin: 39px;
}

.about-us__skill-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    margin: 30px 0px 0px;
    text-align: center;
    
}

.about-us__skill-text {
    text-align: center;
    margin: 40px 0px 0px;
    padding: 0px 15px;
}

/* секция pricing */

.price {
    margin-bottom: 50px;
    background-color: #F5F5F5;
}

/* .pricing__content-box {
    width: 1170px;
} */

.price__main-title {
    font-size: 2.25rem;
    font-weight: 400;
    margin: 50px 0px 0px;
    text-align: center;
    text-transform: uppercase;
    display:flex;
    align-items:center;
    justify-content: center;
    height: 150px;

}

.price__subtitle {
    font-size: 1.125rem;
    color: #86878B;
    margin: 40px 0px 79px;
    text-align: center;
    
}
.price__container {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 50px;

}

.price__list {
    list-style-type: none;
    width: 370px;
    height: 510px;
    padding: 0px;
    margin:0px;
}
.price__list:nth-child(2) {
    filter: drop-shadow(0px 4px 10px rgba(51, 51, 51, 0.2));
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    bottom:20px;
    left: 0;
    right: 0;
    
}
.price__list-item {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}
.price__list-item:first-child {
    background-color:#333333;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    color:#fff;
    height: 60px;
}
.price__list-item:nth-child(2) {
    background-color:#333333;
    border: 2px solid #F5F5F5;
    border-right: 0px;
    border-left: 0px;
    font-weight: 700;
    font-size: 2.25rem;
    color:#fff;
    height: 100px;
}
.price__list-item:nth-child(3) {
    background-color:#333333;
    color:rgba(255, 255, 255, 0.5);
    height: 50px;
}
.price__list-item:nth-child(1n+4) {
    background:#fff;    
    color: #86878B;
    text-transform: capitalize;
    height: 50px;
}

/* секция reviews */
.reviews {
    display:grid;
    justify-content: center;
    margin-bottom:64px;
    
}
.reviews__main-title {
    font-size: 2.25rem;
    font-weight: 400;
    margin: 0px;
    text-align: center;
    text-transform: uppercase;
    display:flex;
    align-items:center;
    justify-content: center;
    height: 150px;
}
.reviews__subtitle {
    font-size: 1.125rem;
    color: #86878B;
    margin: 40px 0px 79px;
    text-align: center;
}
.reviews__container {
    display:flex;
    justify-content: space-between;
    height:336px;
}

.reviews__author-list {
    list-style-type: none;
    padding: 0px;
    margin:0px;
    width: 370px;
}

.author-list__views-item:first-child {
    background-color:#E2E2E2;
    border-radius: 10px;
    display:flex;
    justify-content: center;
    align-items:center;
    text-align: center;
    height: 180px;
}
.views-item_text {
    margin: 0px;
}
.author-list__views-item:nth-child(2) {
    position: relative;
}
.views-item__triangle {
    position:absolute;
    left:70px;
    margin-left: auto;
    margin-right: auto;
}

.author-list__views-item:last-child {
    margin-top: 66px;
    display:flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.views-item__box {
    margin-left:30px
}
.views-item__name {
    margin: 0px 0px 15px;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 1.5rem;
    display:flex;
    justify-content: flex-start;
    align-items:center;
    width: 264px;
    height: 54px;
}
.views-item__position {
    margin: 0px;
}
/* секция banner-second */
.banner-second {
    margin-bottom: 50px;
    background:url(./img/background/bannerSec.jpg);
    box-shadow:0 0 0 1510px rgba(0, 0, 0, 0.5) inset;
    height: 442px;
}

.banner-second__main-title {
    font-size: 2.25rem;
    color: #FFFFFF;
    font-weight: 400;
    margin:0px;
    text-align: center;
    text-transform: uppercase;
    display:flex;
    align-items:center;
    justify-content: center;
    height: 150px;

}
.banner-second__separator {
    width: 170px;
    height: 0px;
    margin: 0 auto;
}
.banner-second__separator hr {
    border: 1px solid #FFFFFF;
}

.banner-second__subtitle {
    font-size: 1.125rem;
    color: #FFFFFF;
    margin: 40px 0px 73px;
    text-align: center;
}

.banner-second__button {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 1.125rem;
    color: #fff;
    background: rgba(0, 0, 0, 0);
    border: 2px solid #fff;
    width: 370px;
    height: 58px;
    padding: 0px;
    cursor: pointer;
}
.banner-second__button:hover {
    color: #EC7979;
    border-color: #EC7979;
}
.banner-second__button:active {
    background-color: #AB4949;
    color: #fff;
    border-color: #AB4949; 
}

/* секция contact */

.contact {
    display: grid;
    justify-content: center;
    margin-bottom: 50px;
}
.contact__main-title {
    font-size: 2.25rem;
    font-weight: 400;
    margin: 0px;
    text-align: center;
    text-transform: uppercase;
    display:flex;
    align-items:center;
    justify-content: center;
    height: 150px;
}
.contact__subtitle {
    font-size: 1.125rem;
    color: #86878B;
    margin: 40px 0px 89px;
    text-align: center;
}
.contact__contact-form {
    display:flex;
    justify-content: start;
    
}
.contact-form__label {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    color:#BDBDBD;
}

.contact-form__input {
    width: 571px;
    border: 0px;
    border-bottom: 1px solid #BDBDBD;
    margin-bottom: 50px;
}
.contact-form__input:focus {
    color: #212529;
    background-color: #fff;
    border-color: #bdbdbd;
    outline: 0;
}
.contact-form__comment {
    overflow: auto;
    resize: none;
    border: 0px;
    border-bottom: 1px solid #BDBDBD;
    padding:0px;
    width: 569px; 
    height: 192px;
}
.contact-form__comment:focus {
    color: #212529;
    background-color: #fff;
    border-color: #bdbdbd;
    outline: 0;
}

.contact__button {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 1.125rem;
    color: #fff;
    padding: 0px;
    background: #EC7979;
    border:0px;
    width: 370px;
    height: 58px;
    transition: .3s background-color ease-in-out; 
    cursor: pointer;
}
.contact__button:hover {
    background-color: #AB4949;
}
.contact__button:active {
    background-color: #EC7979;
}

/* footer */

.footer {
    display:grid;
    justify-content: center;
    align-items: end;
    background:#000000;
    height: 164px;
}
.footer__foot-list {
    list-style-type: none;
    display:flex;
    justify-content: center;
    align-items:center;
    margin: 0px;
    padding: 0px;
}
.foot-list__foot-item {
    margin-right: 25px;
    display:flex;
    justify-content: center;
    align-items:center;
    width:53px;
    height: 53px;

}
.foot-list__foot-item:last-child img {
    width: 34.49px;
    height: 34.49px;
    margin:0px;
}
.footer__copy {
    display:flex;
    justify-content: center;
    color: rgba(255, 255, 255, 0.5)
}
