.banner {
    height: 100vh;
    background: linear-gradient($colorGradient), url('../img/background/backImg.jpg') center;
    background-size: cover;
    
    @include mediaMobile {
        height: 100%;
    }

    .content-box {
        height: 100%;
        @include flexY(center);
        gap: 30px;

        @include mediaMobile {
            flex-direction: column;
            justify-content: space-between;
            padding: 100px 20px;
        }
    }
    
    &__box-title {
        @include flexDir(column);
        color: $colorWhite;

        @include mediaMobile {  
            align-items: center;
        }
    }
    
    &__logo {
        height: 55px;
        @include mediaTablet {
            height: 40px;
        }
        @include mediaMobile {
            display: none;
        }

        &--wrapper {
            max-width: 270px;
            max-height: 100px;

            @include mediaTablet {
                max-width: 180px;
                max-height: 75px;
            }
            
        }
        &--AX {
            width: 102px;
            
            @include mediaTablet {
                width: 70px;
                
            }
        }
        &--IT {
            width: 63px;
            
            @include mediaTablet {
                width: 42px;
                
            }
        }
        
        
        
        &--wrapper {
            margin-bottom: 70px;
            display: flex;
            
            @include mediaMobile {
                margin: 0;
            }
        }
    }

    &__title {
        @include fontStyle($fontRaleway, 500, 48);
        @include fontLh(56);
        text-transform: uppercase;
        
        @include mediaTablet {
            @include fontSize(36);
            @include fontLh(42);

        }
        @include mediaMobile {
            text-align: center;
        }
    }

    &__subtitle {
        @include fontStyle($fontRaleway,$fontNormal,18);
        @include fontLh(21);
        width: 250px;
        margin-bottom: 30px;
        
        @include mediaTablet {
            @include fontSize(14);
            @include fontLh(16);
        }
        
        @include mediaMobile { 
            text-align: center;
            width: 100%
        }
    }

    &__box-form {
        @include flex(space-between,center,column);
        background-color: $colorWhite;
        border-radius: 10px;
        
    }
    
    &__form {

        &-title {
            margin-bottom: 75px;
            @include fontStyle($fontOpenSans,$fontBold,24);
            text-transform: uppercase;
            padding: 30px 15px 0 15px;
            
            @include mediaTablet {
                @include fontSize(24);
            }
            @include mediaMobile {
                @include fontSize(14);
                margin-bottom: 35px;
            }

            span {
                color: $colorRed;
            }
        }
        &-wrapper {
            padding: 0 50px;
            
            @include mediaMobile {
                padding: 0 20px;
            }
        }
        &-input {
            @include flexDir(column);
            margin-bottom: 35px;
            
            &:last-child {
                margin-bottom: 75px;
                
                @include mediaMobile {
                    margin-bottom: 50px;
                }
            }
        }
    }
}