.banner-second {
    padding: 100px 0 50px;  
    background: linear-gradient($colorGradient), url('../img/background/bannerSec.jpg');
    background-size: cover;
    
    &__subtitle {
        color: $colorWhite;
        margin-bottom: 75px;
        @include textUpCenter(null,center);
    }
    
}
