.banner {
    height: 100vh;
    background: linear-gradient($colorGradient), url('./backImg.jpg') center;
    background-size: cover;

    .content-box {
        height: 100%;
        @include flex(null,center,null);
        gap: 30px;
    }
    
    &__box-title {
        display:flex;
        flex-direction: column;
        color: $colorWhite;
    }
    
    &__logo {

        &--wrapper {
            margin-bottom: 70px;
            display: flex;
        }
    }

    &__title {
        @include fontStyle(null, 500, 3rem);
    }

    &__subtitle {
        @include fontStyle(null,$fontNormal,1.125rem);
        margin: 0 350px 40px 0;
    }

    &__box-form {
        @include flex(space-between,center,column);
        background-color: $colorWhite;
        border-radius: 10px;
    }
    
    &__form {

        &-title {
            margin-bottom: 75px;
            @include fontStyle($fontOpenSans,$fontBold,1.5rem);
            @include textUpCenter(uppercase,null);
            padding: 30px 15px 0 15px;

            span {
                color: $colorRed;
            }
        }
        &-wrapper {
            padding: 0 50px;
        }
        &-input {
            @include flex(null,null,column);
            margin-bottom: 35px;
            
            &:last-child {
                margin-bottom: 75px;
            }
        }
    }
}