.banner-second {
    padding: 100px 0 50px;  
    background: linear-gradient($colorGradient), url('../img/background/bannerSec.jpg');
    background-size: cover;
    @include mediaMobile {
        padding: 50px 0;
    }
    
    &__subtitle {
        color: $colorWhite;
        margin-bottom: 75px;
        @include textUpCenter(null,center);
        @include mediaMobile {
            @include fontSize(14);
        }
    }
    
}
