.banner-second {
    padding: 100px 0 50px;  
    background: linear-gradient($colorGradient), url('./bannerSec.jpg');
    background-size: cover;
    
    &__title {
        @include fontStyle(null,null,2.25rem);
        color: $colorWhite;
        @include textUpCenter(uppercase,center);
    }
    
    &__subtitle {
        color: $colorWhite;
        margin-bottom: 75px;
        @include textUpCenter(null,center);
    }
    
}
