.contact {
    padding: 50px 0;

    &__title {
        @include fontStyle(null,null,2.25rem);
        @include textUpCenter(uppercase,center);
    }

    &__subtitle {
        color: $colorDarkGrey;
        margin-bottom: 90px;
        @include textUpCenter(null,center);
    }

    &__form {
        @include flex(null,center,column);
        gap: 50px;

        &--wrapper {
            display: flex;
            gap: 50px;
        }
        &-input {
            @include flex(null,null,column);
            gap: 50px;
            width: 550px;
        }
    &__comment {
        &--wrapper {
            @include flex(null,null,column);
        }
    }
}
}