.contact {
    padding: 50px 0;

    .content-box {
        @include mediaTablet {
            padding: 0 15px;
        }
    }
    
    &__subtitle {
        color: $colorDarkGrey;
        margin-bottom: 90px;
        text-align: center;
        
        @include mediaTablet {
            @include fontSize(14);
            margin-bottom: 70px;
        }
        
        @include mediaMobile {
            margin-bottom: 65px;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items:center;
        gap: 50px;

        &--wrapper {
            display: flex;
            gap: 50px;
            @include mediaTablet {
                gap: 20px;
            }
            @include mediaMobile {
                flex-direction: column;
            }
        }
        &-input {
            @include flexDir(column);
            gap: 50px;
            width: 550px;
            @include mediaTablet {
                width: 480px;
            }
            @include mediaMobile {
                width: 280px;
            }
        }
    &__comment {
        &--wrapper {
            @include flexDir(column);
        }
    }
}
}