.footer {
    background-color: $colorBlack;
    @include flexCenter;
    padding: 45px 0;

    &__list {
        @include flexCenter;
        margin-bottom: 30px;
        
        &-item {
            margin-right: 25px;
            
            &:last-child {
            margin: 0;
            }
            
            @include mediaMobile {
                margin-right: 15px;
            }
        }
        &-icon {
            max-width: 55px;
            max-height: 55px; 
        }
    }
    &__copy {
        text-align: center;
        color: rgba(255, 255, 255, 0.5);
        
        @include mediaTablet {
            @include fontSize(14);
        }
        
    }
    
}
