.footer {
    background-color: $colorBlack;
    @extend %flexCenter;
    padding: 45px 0;

    &__list {
        @extend %flexCenter;
        margin-bottom: 30px;
        
        &-item {
            margin-right: 25px;
            &:last-child {
            margin: 0;
            }
        }
        &-icon {
            max-width: 55px;
            max-height: 55px; 
        }
    }
    &__copy {
        @include textUpCenter(null,center);
        color: rgba(255, 255, 255, 0.5);
        @include mediaMobile {
            @include fontSize(14);
        }
        
    }
    
}
