.header {
    position: absolute;
    width: 100%;
    background-color: $colorBlack;


    .content-box {
        @include flexXY(space-between,center);
        
        @include mediaMobile {
            padding: 20px;
        }
    }

    &__logo {
        max-width: 55px;
        max-height: 35px;
        
        @include mediaMobile { 
            max-width: 40px;
            max-height: 25px;
            // position: relative;
            // z-index: 3;
        }
        &-link {
            display: flex;
        }
    }
}

.menu {
    @include flexCenter;
    
    @include mediaMobile {
        display: none;
    }

    &__list {
        @include flexCenter;
        @include transitionAll;
        &-item {
            @include fontStyle($fontOpenSans,$fontSemiBold, 14);
            padding: 30px;
            @include transitionAll;
            
            &:hover {
                background-color: $colorRed;
                @include cursorPointer;
            }
            &:active {
                background-color: $colorDarkRed;
            }
        }

        &-link {
            text-transform: uppercase;
            
            &:link {
                color: $colorWhite;
            }
            &:visited {
                color: $colorWhite;
            }
            
        }
    } 
}


.burger-btn {
    display: none;
    outline: none;
    background:transparent;
    border: none;
    // position: relative;
    // z-index: 2;
    
    @include mediaMobile {
        display: block; 
    }
}