.reviews {
    padding: 50px 0;

    &__title {
        @include fontStyle(null,null,2.25rem);
        @include textUpCenter(uppercase,center);
    }

    &__subtitle {
        color: $colorDarkGrey;
        text-align: center;
        margin-bottom: 85px;
    }

    &__comments {
        display: flex;
        gap: 30px;
    }
    &__user-block {
        @include flex(null,center,null);
        margin-top: 65px;
        gap: 30px;
        
    }
    &__comment-text {
        // overflow: auto;
            &--wrapper {
                background-color: #E2E2E2;
                border-radius: 10px;
                @include textUpCenter(null,center);
                padding: 40px 20px;
                text-overflow: ellipsis;
                word-break: break-word;
                max-width: 370px;
                max-height: 180px;
                position: relative;
                &:after {
                    content: '';
                    position: absolute;
                    left: 20%;
                    bottom: -4%;
                    width: 15px;
                    height: 15px;
                    background: #E2E2E2;
                    transform: rotate(45deg);
                }
            }
        }

    &__user-avatar {
        max-width: 70px;
        max-height: 70px;
    } 

    &__user {
        &-name {
            margin-bottom: 30px;
            @include fontStyle($fontOpenSans,$fontBold,1.5rem);
        }
    }
}
