.social-media {
    background-color: $colorDarkWhite;
    .content-box {
        @include flex(space-between,null,null);
        padding: 15px 15px;
    }
    &__box-title {
        padding-top: 10px;
    }
    &__title {
        @include fontStyle($fontOpenSans,$fontBold,1.5rem);
        color: $colorBlackText;
        margin-bottom: 25px;
    }
    &__subtitle {
        @include fontStyle(null,$fontNormal,null);
        color: $colorDarkGrey;
    }

    &__list {
        @extend %flexCenter;

        &-item {
            margin-right: 30px;
            @extend %flexCenter;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}