.social-media {
    background-color: $colorDarkWhite;
    
    .content-box {
        @include flexY(space-between);
        padding: 20px 15px;
				
        @include mediaMobile {
					@include flex(center, center, column);
					padding: 30px 15px;				
				}
    }
    &__box-title {
				
        @include mediaMobile {
					text-align: center;
				}
    }
    &__title {
        @include fontStyle($fontOpenSans,$fontBold,24);
        color: $colorBlackText;
        margin-bottom: 25px;
				
        @include mediaMobile {
					@include fontSize(18);
				}
				
    }
    &__subtitle {
        @include fontStyle($fontRaleway,$fontNormal,18);
        color: $colorDarkGrey;
        @include fontLh(21);
				
        @include mediaMobile {
            @include fontSize(14);
            @include fontLh(16);
            margin-bottom: 30px;
        }
    }

    &__list {
        @include flexCenter;

        &-item {
            margin-right: 30px;
            @include flexCenter;
						@include mediaMobile {
							margin-right: 20px;
						}

            &:last-child {
                margin-right: 0;
            }
        }
    }
}