.tabs {
    padding: 100px 0 50px;
    @include mediaMobile {
        padding: 50px 0;
    }

    &__nav {
        display: flex;
        
        &-btn {
            @include fontStyle($fontOpenSans,$fontNormal, 14);
            text-transform: uppercase;
            padding: 10px 70px;
            border: 0;
            background-color: $colorWhite;
            
            @include mediaMobile {
                padding: 10px 15px;
                @include fontSize(14);
            }
            

            &:hover {
                background-color: #ddd;
                @include cursorPointer;
            }
            &--active {
                border: $borderTab;
                border-bottom: 0;
                position: relative;
                top: 1px;
            }
        }
    }
    &__box-wrap {
        border: $borderTab;
        display: none;
        &--active {
            @include flexX(space-between)
        }
    }
    &__inner-box {
        padding: 50px 50px 50px 100px;
        @include mediaTablet {
            padding: 35px 35px 0 85px;
        }
        @include mediaMobile {
            padding: 30px 25px;
            @include flexDir(column);
            align-items:center;
        }
    }
    &__title {
        @include fontStyle($fontOpenSans,$fontBold,30);
        margin-bottom: 40px;
        @include mediaTablet {
            @include fontSize(24);
        }
        @include mediaMobile {
            margin-bottom: 60px;
            @include fontSize(18);
            text-align: center;
        }
    }
    &__text {
        margin-bottom: 30px;
        @include fontLh(21);
        
        @include mediaTablet {
            @include fontSize(14);
            @include fontLh(16);
        }
        
        @include mediaMobile {
            @include fontSize(13);
            text-align: center;
        }
    }
    &__image {
        width: 100%;
        max-height: 500px;
        
        @include mediaTablet {
            max-height: 400px;  
        }
        
        @include mediaMobile {
            display: none;
        }
    }
}