.tabs {
    padding: 100px 0 50px;

    &__nav {
        display: flex;
        
        &-btn {
            @include fontStyle($fontOpenSans,$fontNormal, 0.875rem);
            @include textUpCenter(uppercase,null);
            padding: 10px 70px;
            border: 0;
            background-color: $colorWhite;
            @extend %cursorPointer;

            &:hover {
                background-color: #ddd;
            }
            &--active {
                border: $borderTab;
                border-bottom: 0;
            }
        }
    }
    &__box-wrap {
        border: $borderTab;
        display: none;
        &--active {
            @include flex(space-between,null,null)
        }
    }
    &__inner-box {
        padding: 50px 50px 0 100px;
    }
    &__title {
        @include fontStyle($fontOpenSans,$fontBold,1.875rem);
        margin-bottom: 40px;
    }
    &__text {
        margin-bottom: 30px;
    }
}