.button {
    @include fontStyle($fontOpenSans,$fontSemiBold,null);
    color: $colorWhite;
    @extend %transitionAll;
    &:hover {
        @extend %cursorPointer;
    }
    &--banner {
        border: $borderBtn;
        background: rgba(0, 0, 0, 0);
        padding: 15px 0px;
        width: 270px;
        &:hover {
            color: $colorRed;
            border-color: $colorRed;
        }
        &:active {
            background-color: $colorDarkRed;
            color: $colorWhite;
            border-color: $colorDarkRed;
        }
        
    }
    &--sign {
        font-size: 0.9375rem;
        background: $colorRed;
        border-radius: 0px 0px 10px 10px;
        width: 470px;
        padding: 20px 0;
        border: 0;
        &:hover {
            background-color: $colorDarkRed;
        }
        &:active {
            background-color: $colorRed;
        }
    }
    &--tab {
        background: $colorRed;
        width: 270px;
        padding: 15px 0;
        border: 0;

        &:hover {
            background-color: $colorDarkRed;
        }
        &:active {
            background-color: $colorRed;
            box-shadow: inset 0px 0px 10px $colorDarkRed;
        }
    }
    &--width {
        width: 370px;
    }
    &--wrapper {
        @include flex(center,null,null);
    }
    &--contact {
        padding: 15px 0;
        background: $colorRed;
        border: 0;
        &:hover {
            background-color: $colorDarkRed;
        }
        &:active {
            background-color: $colorRed;
        }
    }
}