.button {
    @include fontStyle($fontOpenSans,$fontSemiBold,18);
    color: $colorWhite;
    @include transitionAll;
    width: 400px;
    padding: 15px 0px;
    border: none;
    
    &:hover {
        @include cursorPointer;
    }

    @include mediaMobile {
        width: 100%;
    }

    &--red {
        background: $colorRed;
        &:hover {
            background-color: $colorDarkRed;    
        }
        &:active {
            background-color: $colorRed;
            box-shadow: inset 0px 0px 10px $colorDarkRed;
        }
    }

    &--white {
        border: $borderBtn;
        background: transparent;
        &:hover {
            color: $colorRed;
            border-color: $colorRed;
        }
        &:active {
            background-color: $colorDarkRed;
            color: $colorWhite;
            border-color: $colorDarkRed;
        }
    }
    &--sign {
        @include fontSize(15);
        border-radius: 0px 0px 10px 10px;
        border: 0;
        
    }
    
    &--center {
        display: block;
        margin: 0 auto;
    }
}