.icon {
    @include fontSize(50);
    color: $colorIcon;
    @extend %transitionAll;

    &-facebook.social-media__list-link:hover  {
        color: #4267B3;
    }
    &-twitter.social-media__list-link:hover  {
        color: #55ACEE;
    } 
    &-linkedin.social-media__list-link:hover  {
        color: #0A66C2;
    } 
    &-pinterest.social-media__list-link:hover  {
        color: #E60023;
    }
    &-instagram.social-media__list-link:hover  {
        color: #C13584;
    } 
    &-github.social-media__list-link:hover  {
        color: #211F1F;
    } 
    &-rss.social-media__list-link:hover  {
        color: #ee802f;
    }
}