.input {
    border: 0;
    border-bottom: $borderInp;
    padding: 10px;
    padding-left: 0;
    @include fontStyle($fontOpenSans,$fontNormal,14);
    color: $colorGrey;
    
    &::-webkit-input-placeholder {
        @include fontStyle($fontOpenSans,null,14);
        color: $colorGrey;
    }
    &::-moz-placeholder {
        @include fontStyle($fontOpenSans,null,14);
        color: $colorGrey;
    }

    &:focus {
        background-color: $colorWhite;
        border-color: $colorGrey;
        outline: 0;
    }
}

.text-area {
    overflow: auto;
    resize: none;
    border: 0;
    border-bottom: $borderInp;
    width: 550px;
    height: 100%;
    @include fontStyle($fontOpenSans,$fontNormal,14);
    color: $colorGrey;
    @include mediaMobile {
        width: 280px;
        height: 180px;
    }
    &:focus {
        background-color: $colorWhite;
        border-color: $colorGrey;
        outline: 0;
    }
    &::-webkit-input-placeholder {
        @include fontStyle($fontOpenSans,null,14);
        color: $colorGrey;
    }
    &::-moz-placeholder {
        @include fontStyle($fontOpenSans,null,14);
        color: $colorGrey;
    }
}