.input {
    border: none;
    border-bottom: $borderInp;
    padding: 10px;
    padding-left: 0;
    width: 100%;
    margin-bottom: 50px;
    @include fontStyle($fontOpenSans,$fontNormal,14);
    color: $colorGrey;
    
    &::placeholder {
        @include fontStyle($fontOpenSans,$fontNormal,14);
        color: $colorGrey;
    }

    &:focus {
        background-color: $colorWhite;
        border-color: $colorGrey;
        outline: none;
    }
    &:last-child {
        margin-bottom: 0;
    }
}

.text-area {
    resize: none;
    border: none;
    border-bottom: $borderInp;
    width: 100%;
    height: 100%;
    @include fontStyle($fontOpenSans,$fontNormal,14);
    color: $colorGrey;

    &:focus {
        background-color: $colorWhite;
        border-color: $colorGrey;
        outline: none;
    }
    &::-webkit-input-placeholder {
        @include fontStyle($fontOpenSans,$fontNormal,14);
        color: $colorGrey;
    }
    &::-moz-placeholder {
        @include fontStyle($fontOpenSans,$fontNormal,14);
        color: $colorGrey;
    }

    @include mediaMobile {
        height: 180px;
    }
}