.separator {
    width: 170px;
    margin: 55px auto 40px;
    height: 1px;
    @include mediaMobile {
        width: 135px;
        margin: 40px auto;
    }

    &--white {
        background-color: $colorWhite;
    }

    &--red {
        background-color: $colorRed;
    }

    &--margin {
        margin-left: 0;
        margin-right: 0;
    }
}