@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&family=Raleway:wght@400;500&display=swap');

* {
    box-sizing:border-box;
}
p {
    margin: 0;
}
input {
    padding: 0;
}
body {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 1.125rem;
    
}
.separator {
    width: 170px;
    margin: 55px auto 40px;
    border: 1px solid #EC7979;
    
}

.content-box {
    padding: 0 15px;
    margin: 0 auto;
    width: 1200px;
}
.header {
    position: absolute;
    width: 100%;
    background-color: #000000;
}
.header .content-box {
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
    height: 30px;
}
.header__logo--AX {
    width: 50px;
}
.header__logo--IT {
    width: 30px;
}

.nav__list {
    list-style:none;
    display:flex;
    justify-content: center;
    align-items:center;
    margin: 0px;
    padding: 0px;    
}
.nav__list-item {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 0.875rem;
    padding: 30px;
    transition: background-color .3s  ease-in-out;
    
}
.nav__list-link {
    display:flex;
    justify-content: center;
    align-items:center;
    text-decoration: none;
    text-transform: uppercase;
}

/* еще не посещенная ссылка */
.nav__list-link:link {
    color:#fff;
}
/* посещенная ссылка */
.nav__list-link:visited {
    color: #fff;
}
/* при наведении */
.nav__list-item:hover {
    background-color: #EC7979;
    
    cursor: pointer;   
}
/* при нажатии */
.nav__list-item:active {
    background-color: #AB4949;
}

/* секция banner */

.banner {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/background/backImg.jpg") center;
    background-size: cover;
    /* box-shadow:0 0 0 1510px rgba(0, 0, 0, 0.5) inset; */
    height: 100vh;
}
.banner .content-box {
    height: 100%;
    display:flex;
    align-items: center;
    gap: 30px;
}
.banner__box-title {
    display:flex;
    flex-direction: column;
    color: #fff;
}
.banner__logo--wrapper {
    margin-bottom: 70px;
}
.banner__logo {
    height: 55px;
}
.banner__logo--AX {
    width: 100px;
}
.banner__logo--IT {
    width: 65px;
}

.banner__main-title {
    font-weight: 500;
    font-size: 3rem;
    margin:0px;
}

.separator--banner {
    margin-left: 0;
    margin-right: 0;
    border: 1px solid #FFFFFF;
}
.banner__subtitle {
    font-size: 1.125rem;
    font-weight: 400;
    margin:0px;
    padding-right: 350px;
}

.banner__button-download {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 1.125rem;
    color: #fff;
    background: rgba(0, 0, 0, 0);
    border: 2px solid #fff;
    width: 270px;
    height: 58px;
    padding: 0px;
    margin-top: 42px;
    transition: .3s background-color ease-in-out, .3s color ease-in-out, .3s border-color ease-in-out;
}
.banner__button-download:hover {
    color: #EC7979;
    border-color: #EC7979;
    cursor: pointer;
}
.banner__button-download:active {
    background-color: #AB4949;
    color: #fff;
    border-color: #AB4949; 
    cursor: pointer;
}

.banner__box-form {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
}

.banner__title-form {
    margin: 0px;
    margin-bottom: 75px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 30px 15px 0 15px;
}
.banner__title-form span {
    color: #EC7979;
}
.form-box--wrapper {
    padding-left: 50px;
}
.form-box--inner {
    display:flex;
    flex-direction: column;
    margin-bottom: 35px;
}
.form-box--inner:last-child {
    margin-bottom: 75px;
}
.banner__label {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    color:#BDBDBD;
    
}

.banner__input {
    width: 370px;
    border: 0px;
    border-bottom: 1px solid #BDBDBD;
    padding: 0;
}


.banner__input:focus {
    color: #212529;
    background-color: #fff;
    border-color: #bdbdbd;
    outline: 0;
}

.banner__button-sign {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 0.9375rem;
    color: #fff;
    padding: 0px;
    background: #EC7979;
    border:0px;
    border-radius: 0px 0px 10px 10px;
    width: 470px;
    height: 60px;
    transition: .3s background-color ease-in-out;
}
.banner__button-sign:hover {
    background-color: #AB4949;
    cursor: pointer;
}
.banner__button-sign:active {
    background-color: #EC7979;
}

/* секция social media */
.social-media {
    background-color: #F8EFEF;
    
}
.social-media .content-box {
    display:flex;
    justify-content: space-between;
    padding: 15px 15px;
}



.social-media__main-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    color: #333333;
    margin-bottom: 0px;
    margin-top: 15px;
}
.social-media__subtitle {
    font-weight: 400;
    font-size: 1.125rem;
    color: #86878B;
    margin-top: 25px;
    margin-bottom: 0px;
}

.social-media__list {
    padding: 0px;
    margin:0px;
    display:flex;
    justify-content: center;
    align-items:center;
    list-style-type: none;
}   
.social-media__list-item {
    margin-right: 30px;
    display:flex;
    justify-content: center;
    align-items:center;
    width:60px;
    height: 60px;
    margin-right: 30px;
}
.social-media__icon {
    padding: 0px;
    max-width: 60px;
    max-height: 60px;
}

/* секция tabs */

.tabs {
    padding: 100px 0 50px;
}

.tabs__nav {
    display: flex;

}
.tabs__nav-btn {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    text-transform: uppercase;
    padding: 10px 70px; 
    border: 0;
    background-color: #fff;
    cursor: pointer;

}
.tabs__nav-btn:hover {
    background-color: #ddd;
}


.tabs__nav-btn--active {
    border: 1px solid #C6CBCD;
    border-bottom: 0;
}


.tabs__box-wrap {
    border: 1px solid #C6CBCD;
    display: none;
}
.tabs__box-wrap--active {
    display:flex;
    justify-content:space-between;
}

.tabs__inner-box{
    padding: 50px 0 0 100px ;
    
    
}
.tabs__main-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 1.875rem;
    margin: 0 0 40px;
}
.tabs__text {
    margin:0px; 
    padding: 5px 40px 30px 0;
}

.tabs__button {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 1.125rem;
    color: #fff;
    background: #EC7979;
    width: 270px;
    height: 58px;
    padding: 0px;
    border: 0px; 
    transition: .3s background-color ease-in-out, .3s box-shadow ease-in-out;
    cursor: pointer;
}
.tabs__button:hover {
    background-color: #AB4949;
}
.tabs__button:active {
    background-color: #EC7979;
    box-shadow: inset 0px 0px 10px #AB4949; 
}
.tabs__image {
    max-width: 470px;
    max-height: 500px;
}
/* секция about */

.about-us {
    padding: 50px 0;
}
.about-us__main-title {
    font-size: 2.25rem;
    font-weight: 400;
    margin: 0px;
    text-align: center;
}
/* непонятно почему отличается от других */
.separator--about {
    background-color: #EC7979;
}
.about-us__subtitle {
    font-size: 1.125rem;
    color: #86878B;
    margin: 0px;
    text-align: center;
}

.about-us__skill-list {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    margin: 110px 0px 0px;
    padding: 0px;
}

.about-us__skill-item {
    width: 370px;
}

.about-us__skill-wrapper {
    width: 90px;
    height: 90px;
    border: 2px solid #EC7979;
    border-radius: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.about-us__skill-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    margin: 70px 0px 0px;
    text-align: center;
    
}

.about-us__skill-text {
    text-align: center;
    margin: 40px 0px 0px;
    padding: 0px 15px;
}

/* секция pricing */

.price {
    padding: 50px 0;
    background-color: #F5F5F5;
}


.price__main-title {
    font-size: 2.25rem;
    font-weight: 400;
    margin: 0px;
    text-align: center;
    text-transform: uppercase;

}

.price__subtitle {
    font-size: 1.125rem;
    color: #86878B;
    margin: 0px;
    text-align: center;
    
}
.price__container {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    flex-wrap: wrap;

}

.price__list {
    width: 370px;
    padding: 0px;
    margin:0px;
}
.price__list--active {
    filter: drop-shadow(0px 4px 10px rgba(51, 51, 51, 0.2));
    transform: translateY(-20px);
    
    
}

.price__list-item {
    text-align: center;
    padding: 15px 0;
    border: 1px solid #f5f5f5;
    
}
.price__list-item:first-child {
    background-color:#333333;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    color:#fff;
    
}
.price__list-item:nth-child(2) {
    background-color:#333333;
    font-weight: 700;
    font-size: 2.25rem;
    color:#fff;
}
.price__list-item:nth-child(3) {
    background-color:#333333;
    color:rgba(255, 255, 255, 0.5);
}
.price__list-item:nth-child(1n+4) {
    background:#fff;    
    color: #86878B;
    text-transform: capitalize;
    
}


/* секция reviews */
.reviews {
    padding-top: 50px;
    padding-bottom: 65px;
    
}
.reviews__main-title {
    font-size: 2.25rem;
    font-weight: 400;
    margin: 0px;
    text-align: center;
    text-transform: uppercase;
}
.reviews__subtitle {
    font-size: 1.125rem;
    color: #86878B;
    text-align: center;
}
.reviews__container {
    display:flex;
    margin-top: 85px;
    gap: 30px;
}

.reviews__author-list {
    list-style: none;
    padding: 0px;
    margin: 0;
}

.reviews__item-text{
    background-color:#E2E2E2;
    border-radius: 10px;
    text-align: center;
    padding: 40px 20px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.reviews__list-item:nth-child(2) {
    position: relative;
}
.reviews__item-triangle {
    position:absolute;
    left:70px;
}

.reviews__list-item:last-child {
    margin-top: 65px;
    display:flex;
    align-items:center;
    gap: 30px;
}
.reviews__item-photo {
    max-width: 70px;
    max-height: 70px;
}
.reviews__author-name {
    margin: 0 0 30px;
    padding-top: 15px;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 1.5rem;
}
.reviews__author-position {
    margin: 0px;
}
/* секция banner-second */
.banner-second {
    padding: 100px 0 50px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/background/bannerSec.jpg);
    background-size: cover;

}

.banner-second__main-title {
    font-size: 2.25rem;
    color: #FFFFFF;
    font-weight: 400;
    margin:0px;
    text-align: center;
    text-transform: uppercase;

}
.separator--banner-second {
    border: 1px solid #FFFFFF;
}

.banner-second__subtitle {
    font-size: 1.125rem;
    color: #FFFFFF;
    margin: 0 0 75px;
    text-align: center;
}
.box-button {
    display: flex;
    justify-content: center;

}
.banner-second__button {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 1.125rem;
    color: #fff;
    background: rgba(0, 0, 0, 0);
    border: 2px solid #fff;
    width: 370px;
    height: 60px;
    padding: 0px;
    cursor: pointer;
    transition: .3s color ease-in-out,
    .3s background-color ease-in-out,
    .3s border-color ease-in-out;
}
.banner-second__button:hover {
    color: #EC7979;
    border-color: #EC7979;
}
.banner-second__button:active {
    background-color: #AB4949;
    color: #fff;
    border-color: #AB4949; 
}

/* секция contact */

.contact {
    padding: 50px 0;
}
.contact__main-title {
    font-size: 2.25rem;
    font-weight: 400;
    margin: 0px;
    text-align: center;
    text-transform: uppercase;
    
}
.contact__subtitle {
    font-size: 1.125rem;
    color: #86878B;
    margin: 0px 0px 90px;
    text-align: center;
}
.contact__form {
    display:flex; 
    flex-direction: column;  
    align-items: center;
    gap: 50px;
}
.box--wrapper {
    display: flex;
    gap: 50px;
}
.contact__form-box {
    display: flex;
    flex-direction: column;
}
.contact__label {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    color:#BDBDBD;
    margin-top: 50px;
}
.contact__label:first-child {
    margin: 0;
}

.contact__input {
    border: 0px;
    border-bottom: 1px solid #BDBDBD;
    width: 570px;

}
.contact__input:focus {
    color: #212529;
    background-color: #fff;
    border-color: #bdbdbd;
    outline: 0;
}
.contact__comment-box {
    display: flex;
    flex-direction: column;
    
}
.contact__comment {
    overflow: auto;
    resize: none;
    border: 0px;
    border-bottom: 1px solid #BDBDBD;
    padding:0px;
    width: 570px;
    height: 100%;
    
}
.contact__comment:focus {
    color: #212529;
    background-color: #fff;
    border-color: #bdbdbd;
    outline: 0;
}

.contact__button {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 1.125rem;
    color: #fff;
    padding: 0px;
    background: #EC7979;
    border:0px;
    width: 370px;
    height: 58px;
    transition: .3s background-color ease-in-out; 
    cursor: pointer;
}
.contact__button:hover {
    background-color: #AB4949;
}
.contact__button:active {
    background-color: #EC7979;
}

/* footer */

.footer {
    background:#000000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 45px 0;
}

.footer__foot-list {
    list-style-type: none;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 30px;
    padding: 0px;
}
.foot-list__foot-item {
    margin-right: 25px;

}
.foot-item__icon {
    max-width: 55px;
    max-height: 55px;
}
.foot-list__foot-item:last-child img {
    width: 35px;
    margin:0px;
}
.footer__copy {
    text-align: center;
    color: rgba(255, 255, 255, 0.5)
}
